.profile-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-container {
  margin-bottom: 20px;
}

.profile-avatar {
  width: 250px;
  border-radius: 50%;
}

.profile-name {
  font-size: 26px;
  color: #24292e;
  font-weight: 700;
}

.profile-nickname {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
}

.profile-bio {
}

.profile-repositories {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
